{{#each this}}
  <li class='main__section-item'>
    <a href='#' class='main__section-link' id={{id}}>
      <div class='movie-card'>
        
        <div class='img-wrapper'>
          <img
            loading='lazy'
            class='movie-poster'
            data-popularity="{{popularity}}"
            src="https://image.tmdb.org/t/p/w500{{poster_path}}"
            alt="{{original_title}}"
          />
          <div class="movie-overview">
            <p class="movie-overview__title">Overview</p>
            {{overview}}
          </div>
          </div>
        <div class='movie-desc'>
          <h2 class='movie-name'>
            {{title}}
          </h2>
          <p class='movie-details'>
            {{genre}}
            |
            {{year}}
            {{#if raiting}}
              <span class='movie-rating'>
                {{vote_average}}
              </span>
            {{/if}}
          </p>
        </div>
      </div>
    </a>
  </li>
{{/each}}