{{#each this}}
  <li class='main__section-item'>
    <a href='#' class='main__section-link' id={{id}}>
      <div class='movie-card'>
        <div class='img-wrapper'>
          <img
            loading='lazy'
            class='movie-poster'
            data-popularity="{{popularity}}"
            src="https://image.tmdb.org/t/p/w500{{poster_path}}"
            alt="{{original_title}}"
          />
        </div>
        <div class='movie-desc'>
          <h2 class='movie-name'>
            {{title}}
          </h2>
          <p class='movie-details'>
            {{genre}}
            |
            {{year}}
            <span class='movie-rating'>
              {{#if raiting}}
                {{vote_average}}
              {{/if}}
            </span>
          </p>
        </div>
      </div>
    </a>
  </li>
{{/each}}