{{#each this}}
<li class="team-item">
  <a href="{{git}}" class="team-link"><img class="team-img" src="{{photo}}" alt="{{name}}" width="100" height="100"></a>
  <div class="team-desc-container">
    <p class="team-name">{{name}}</p>
    <p class="team-position">{{position}}</p>
  </div>
</li>
{{/each}}